.detail-specialty-container {

    .detail-specialty-body {
        margin: 0 100px;

        .description-specialty {
            border: 1px solid red;
        }

        .search-doctor-by-province {
            
        }
    
        .doctor-infor {
            padding: 10px;
            display: flex;
            width: 100%;
            min-height: 300px;
            margin: 15px 0;
            background-color: #fff;
            box-shadow: 0 1px 6px #20212447;
            border-radius: 8px;
        
            .dt-content-left {
                width: 50%;
                border-right: 1px solid #ccc;
            }
    
            .dt-content-right {
                width: 50%;
                padding: 10px 15px;
    
                .doctor-schedule {

                    .doctor-schedule-container {
                        border-right: unset !important;
                    }
                }
    
                .doctor-extra-infor {
                    padding-top: 10px;
                    border-top: 1px solid #ccc;
    
                    .doctor-extra-infor-container {
                        padding-left: 0 !important;
                    }
                }
            }
        }
    }

}