.verify-email-container {

    .infor-booking {
        color: red;
        font-size: 15px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
    }
}